.landing-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  height: 100vh;
}

.landing-img-container {
  flex: 1;
  min-width: 400px;

  & img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.landing-sub-container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
  text-align: center;
}

.landing-logo { margin-top: 70px; }

.landing-header {
  letter-spacing: 3px;
  line-height: 27px;
  margin-bottom: 13px;
  margin-top: 16px;
}

.landing-subtitle {
  line-height: 32px;
  margin: 0 0 10px;
}

.landing-description {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  margin: 0 28% 49px;
}
