.form-container {
  display: flex;
  flex-direction: column;
  letter-spacing: 1.7px;
  width: 30%;
}

.form-button {
  background-color: $black;
  box-shadow: 0 2px 4px 0 rgba($black, .25);
  color: $white;
  font-weight: 600;
  height: 37px;
  letter-spacing: 1.7px;
  margin-bottom: 15px;
  padding: 5px;
}

.form-error {
  color: $red;
  font-weight: normal;
  margin-bottom: 15px;
  margin-top: 0;
}
