.Landing {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  height: 100vh;
}

.Login {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 600;
  justify-content: center;
  min-width: 400px;
  text-align: center;
}

.landing-img-container {
  flex: 1;
  min-width: 400px;

  & img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.app-header {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 27px;
  margin-bottom: 13px;
  margin-top: 16px;
}

.app-subtitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
}

.app-description {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  margin: 0 28% 49px 28%;
}

.app-logo { margin-top: 70px; }

.login-form {
  display: flex;
  flex-direction: column;
  letter-spacing: 1.7px;
  width: 30%;
}

.login-form-label { padding: 5px; }

.login-form-input {
  height: 20px;
  margin-bottom: 22px;
  min-width: 100px;
  padding: 5px;
}

.login-form-button {
  background-color: black;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: 600;
  height: 37px;
  letter-spacing: 1.7px;
  margin-bottom: 15px;
  padding: 5px;
}

.login-form-error {
  color: red;
  font-weight: normal;
}

.forgot-password-link {
  margin-bottom: 55px;
  margin-top: 0;
}

.facebook-link {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2.4px;
  margin-top: 0;
}

.separator {
  border: solid .5px black;
  width: 121px;
  margin: 0;
}

.sign-up-link {
  letter-spacing: 1.7px;
  margin-bottom: 68px;
  margin-top: 15px;
}
